<!-- register.component.html -->
<div class="content">
    <img src="/assets/mkk.png" class="logo">
    <h1>Reset password</h1> 
    <ng-container class="loginContainer" *ngIf="success == false && tokenProvided == false">

        <mat-form-field appearance="outline" class="loginField">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" [(ngModel)]="email">
        </mat-form-field>
        <p *ngIf="!emailValid" style="color: red">Please enter a valid email</p>
        <p *ngIf="error" style="color: red; width: 50%">{{errorMessage}}</p>
        <button mat-raised-button class="loginButton" style="z-index: 0;" (click)="reset()">Reset</button>
        <label style="margin-top: 20px">Already have an account?</label>
        <label class="register" (click)="navigate('login')">Log in</label>
    </ng-container>
    <ng-container class="loginContainer" *ngIf="success == false && tokenProvided == true">
        <br>
        <h3>Something went wrong, the reset-token was invalid.</h3>
        <h3>Please try resetting your password again.</h3>
        <br>
        <button mat-raised-button class="loginButton" style="z-index: 0;" (click)="navigate('login')">Back to login...</button>
    </ng-container>
    <ng-container class="loginContainer" *ngIf="success == true && tokenProvided == true">
        <br>
        <h3>Reset successful, a temporary password has been sent to your email.</h3>
        <br>
        <button mat-raised-button class="loginButton" style="z-index: 0;" (click)="navigate('login')">Back to login...</button>
    </ng-container>
    <ng-container *ngIf="success == true && tokenProvided == false">
        <br>
        <h3>The password reset link has been sent to your email.</h3>
        <br>
        <button mat-raised-button class="loginButton" style="z-index: 0;" (click)="navigate('login')">Back to login...</button>
    </ng-container>    
</div>
