<img src="/assets/climber.png" class="overviewImg">
<div class="content">
    <div class="textDiv">
        <h1>Release 1.7 - <i>Live</i></h1>
        <p>June 2023</p>
        <h3>- Added tracker archiving </h3>
        <h3>- New design for route statistics </h3>
        <br>
        <h1>Release 1.6</h1>
        <p>June 2023</p>
        <h3>- Added archive sort (removed routes)</h3>
        <h3>- Filtered archived routes from the statistics overview</h3>
        <h3>- Added "new" route indicator in route list</h3>
        <br>
        <h1>Hotfix 1.5.1</h1>
        <p>June 2023</p>
        <h3>- Added clarification to password creation in registration</h3>
        <h3>- Fixed password reset bug where second reset email isn't sent</h3>
        <br>
        <h1>Release 1.5</h1>
        <p>June 2023</p>
        <h3>- Added contact section</h3>
        <br>
        <h1>Release 1.4</h1>
        <p>June 2023</p>
        <h3>- Added "uncompleted" routes to Dashboard</h3>
        <br>
        <h1>Release 1.3</h1>
        <p>June 2023</p>
        <h3>- Added route-list "removed" attribute</h3>
        <h3>- Added Gold header to removed routes</h3>
        <h3>- Disabled adding removed routes to the tracker</h3>
        <br>
        <h1>Release 1.2</h1>
        <p>June 2023</p>
        <h3>- Added total trackers for each wall (total attempts and completes)</h3>
        <br>
        <h1>Hotfix 1.1.1</h1>
        <p>June 2023</p>
        <h3>- Statistics component mobile view fixes</h3>
        <br>
        <h1>Release 1.1</h1>
        <p>June 2023</p>
        <h3>- Statistics component added for route statistics and management</h3>
        <h3>- Info components for available routes added for the MKK Board</h3>
        <h3>- Added administration module</h3>
        <br>
        <h1>Release 1.0</h1>
        <p>April 2023</p>
        <h3>- Tracker feature added</h3>
        <br>
        <h1>Release 0.2</h1>
        <p>May 2023</p>
        <h3>- Builder module added for builders</h3>
        <h3>- All current routes added from MKK</h3>
        <br>
        <h1>Release 0.1, May 2023</h1>
        <p>May 2023</p>
        <h3>- Home page added</h3>
        <h3>- Routes page added</h3>
        <h3>- Profile page added</h3>
    </div>
</div>
<app-footer class="footer"></app-footer>
