<img src="/assets/climber.png" class="overviewImg">
<div class="content">
    <div class="textDiv">
        <h1 class="landingText" style="font-weight: 200;">Contact</h1>
        <h3 class="flexCentered" style="max-width: 400px;">Glad to see that you're using OpenClimber. Feel free to send us an email if you have any questions; would like to report a bug, or perhaps request a new feature?</h3>
        <a class="mail" href="mailto:openclimber@outlook.com"><h3 class="mail">openclimber@outlook.com</h3></a>
        <h3 class="flexCentered" style="max-width: 400px; font-style: italic;">I will reply as fast as possible, but since this application is a hobby project; usual response times is within 24 - 48 hours.</h3>
        <h3 class="flexCentered" style="max-width: 400px; font-style: italic;">You're also more than welcome to poke me / talk to me face-to-face if you see me at MKK!</h3>    
    </div>
    <img src="assets/ludvig.jpg" alt="" class="image">
</div>
<app-footer class="footer"></app-footer>
